@page "{id:int}"
@model DetailsModel
@{
    ViewData["Title"] = "Category Details";
}

<h1>Category Details</h1>

<dl class="row">
    <dt class="col-sm-2">Name</dt>
    <dd class="col-sm-10">@Model.Category.Name</dd>

    <dt class="col-sm-2">Description</dt>
    <dd class="col-sm-10">@Model.Category.Description</dd>

    <dt class="col-sm-2">Products</dt>
    <dd class="col-sm-10">@Model.Category.ProductCount</dd>
</dl>

<a asp-page="Edit" asp-route-id="@Model.Category.CategoryId" class="btn btn-warning">Edit</a>
<a asp-page="Index" class="btn btn-secondary">Back to List</a>
